<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<h1>News</h1><br>
<span th:text="${principal}"></span>
</body>
</html>