<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>
<br>
<span th:text="${username}"></span> <br>
<a href="/logout">logout</a> <br>
<a href="/news">TO NEWS</a>
</body>
</html>